
#report-container{
    height: 100vh;
    width: 100%;
	justify-content:center;
	align-items:center;
    padding: 0;
    display: block; }
.offcanvas-header{
    display: flex;
    padding: 95px 20px 20px 10px;
    & .offcanvas-title{
        margin-left: 20px;

    }
    & .btn-close{
        color: #fff !important;
    } }

.report-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 85vh;
}
.report-container form .container{
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
    & span{
        display: flex;
        & strong{
            min-width: 60px;
        }
        & em{
            display: flex;
            justify-content: left;
            align-items: start !important; 
        }
    }
}

.toast-card{
    top: 15px;
    right: 10px;
}